/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.imagengrande {
  width: 80%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #102858;
  border-radius: 5%;
}
.marcoimagenes {
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #102858;
  border-radius: 5%;
  align-content: center;
}
.imagenespost {
  width: 100%;
  height: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: #102858;

  align-content: center;
}
.imagendentro {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  transition: 3s all;
}
footer {
  background-color: gray;
}
.landing {
  position: relative;
  background-image: url('./img/landing.png');
  height: 80vh;
}
.nav-link {
  color: aliceblue;
}
.alert {
  text-align: center;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.8;
  background-color: rgb(150, 24, 24);
  color: white;
}
footer {
  color: aliceblue;
  text-decoration: none;
}
footer a {
  color: white;
}
.listas {
  list-style: none;
}

nav {
  height: 100%;
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(71%, rgba(33, 61, 89, 1)),
    color-stop(92%, rgba(33, 61, 89, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -o-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -ms-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: linear-gradient(
    to right,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#213d59', GradientType=1 );
}
.titulo {
  font-size: 90px;
  color: aliceblue;
  font-family: 'Dancing Script', cursive;
}
.tituloB {
  font-size: 65px;
  color: rgb(18, 144, 162, 1);
}
.formulario {
  text-align: center;
  border-style: none;
  border-left: rgba(128, 128, 128, 0.281) 2px solid;
}

.form-group .input {
  border-style: none;
  border-bottom: gray 2px solid;
  border-radius: 0px;
}
.pagListas {
  background-color: red;
  background-image: url('./img/wg.jpeg');
}
.btnmi {
  width: 100%;
  color: white;
  font-size: 25px;
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(71%, rgba(33, 61, 89, 1)),
    color-stop(92%, rgba(33, 61, 89, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -o-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: -ms-linear-gradient(
    left,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  background: linear-gradient(
    to right,
    rgba(73, 155, 234, 1) 0%,
    rgba(33, 61, 89, 1) 71%,
    rgba(33, 61, 89, 1) 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#213d59', GradientType=1 );
}
.btnres {
  color: white;
  background-color: rgb(18, 144, 162, 1);
  border-radius: 30px;
  font-size: 20px;
}
.iconos {
  width: 150px;
  position: absolute;
  top: 77%;
  left: 10%;
}
.iconoss {
  width: 150px;
  position: absolute;
  top: 81%;
  left: 23%;
}
.iconosr {
  width: 150px;
  position: absolute;
  top: 81%;
  right: 16%;
}
.iconossr {
  width: 150px;
  position: absolute;
  top: 85%;
  right: 28%;
}
@media screen and (max-width: 380px) {
  .titulo {
    font-size: 30px;
    color: aliceblue;
    font-family: 'Dancing Script', cursive;
  }
  .tituloB {
    font-size: 25px;
  }
}
img {
  width: 100%;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}
/* tablas*/
.fondo {
  position: relative;
  background: url('./img/wg1.png') no-repeat center center/cover;
}
tr {
  color: rgb(37, 77, 116);
}
.imgTable {
  width: 50px;
}
/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
.table {
  background: rgba(255, 255, 255, 0.8);
}
.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
}

.post > div:first-child {
  text-align: center;
}
.span {
  color: #888;
  font-size: 12px;
}
.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post .post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
